<style>
  .hide{
    display:none
  }
</style>

<div id="mySidebar" *ngIf="this.dataHolderService.selectedStudentID && this.dataHolderService.currentStudent!=null" class="sidebar container" style="overflow-y:scroll">
  <a href="javascript:void(0)" class="closebtn" (click)="cliseSideBar()" onclick="closeNav()">×</a>
  <h4>Details</h4>
  <div class="container">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Roll</th>
        <th>Discipline</th>
      </tr>
      <tr *ngIf="!isOnUpdateMode">
        <td> {{this.dataHolderService.currentStudent.Name}} </td>
        <td> {{this.dataHolderService.currentStudent.Email}} </td>
        <td> {{this.dataHolderService.currentStudent.ID}} </td>
        <td> {{this.dataHolderService.currentStudent.Discipline}} </td>

      </tr>
      <tr *ngIf="isOnUpdateMode">
        <td> <input type="text" name="Name" [(ngModel)]="this.dataHolderService.currentStudent.Name" /> </td>
        <td> <input type="text" name="Name" [(ngModel)]="this.dataHolderService.currentStudent.Email" /> </td>
        <td> <input type="text" readonly name="Name" [(ngModel)]="this.dataHolderService.currentStudent.ID" /> </td>
        <td>
          <select name="discipline" [(ngModel)]="this.dataHolderService.currentStudent.DisciplineID">
            <option *ngFor="let dsp of disciplines" value={{dsp.DisciplineID}}> {{dsp.Name}} </option>
          </select>
        </td>
      </tr>
      <tr *ngIf="!isOnUpdateMode && !isOndeleteMode">
        <td> <button (click)="update()">Update</button> </td>
        <td>  <button (click)="delete()">Delete</button> </td>
      </tr>
      <tr *ngIf="isOnUpdateMode && !isOndeleteMode">
        <td> <button (click)="confirmUpdate()">Done</button> </td>
        <td>  <button (click)="cancelUpdate()">Cancel</button> </td>
      </tr>
      <tr *ngIf="!isOnUpdateMode && isOndeleteMode">
        <td> <button (click)="confirmDelete()">Delete</button> </td>
        <td>  <button (click)="cancelDelete()">Cancel</button> </td>
      </tr>
    </table>
    <hr>
    <h3>Products Owned</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>

        </tr>
      </thead>
      <tbody id="DetailsProductsTable">
      </tbody>
    </table>

    <footer>
      <h4>Add new product</h4>
      <button class="btn btn-primary" data-target="#addProductCollapse" data-toggle="collapse" aria-expanded="false"
        aria-controls="addProductCollapse">
        Add new product
      </button>
      <div id="addProductCollapse" class="collapse">
        <form id="addNewProductMorm" class="form-inline">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="newProductName" class="form-control" placeholder="Name">
          </div>


          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
      </div>
    </footer>
  </div>

</div>
